<tr>
  <td class="calculator-id"><%= calculator.id %></td>
  <td class="previous-equation"><%= calculator.previous_calculation&.equation %></td>
  <td class="previous-answer"><%= calculator.previous_calculation&.answer %></td>
  <td class="memory"><%= calculator.memory %></td>
  <td><%= link_to('Show', basic_calculator_path(calculator)) %> | <%= link_to('Delete', basic_calculator_path(calculator), data: { confirm: 'Are you sure?'}, method: :delete) %></td>
</tr>