<h2>Calculator</h2>

<%= render partial: 'errors' if flash[:error] %>

<div class="answer">
  <p><%= @calculator.previous_calculation&.answer %></p>
</div>

<%= form_for [@calculator, @calculation] do |f| %>
  <%= f.text_field(:equation) %>
  <%= f.submit('Calculate') %>
  <%= button_tag('Clear', class: 'clear') %>
<% end %>

<div class="calculator-buttons">
  <%= button_tag('0', class: 'calculator-button button-0') %>

  <% number_buttons.each do |button| %>
    <%= button %>
  <% end %>
</div>

<div class="operator-buttons">
  <% operator_buttons.each do |button| %>
    <%= button %>
  <% end %>
</div>
